<h4><#LANG_OCT_APP_NAME#></h4>
<ul class="nav nav-tabs">     
   <li [#if VIEW_MODE="" #] class="active" [#endif#]><a href="?view_mode="><span class="glyphicon glyphicon-cloud"></span> <#LANG_OCT_TAB_MAIN#></a></li>
   <li [#if VIEW_MODE="setting" #] class="active" [#endif#]><a href="?view_mode=setting"><span class="glyphicon glyphicon-cog"></span> <#LANG_OCT_TAB_SETTINGS#></a></li>

</ul>
<br />
[#if VIEW_MODE=""#]
   [#inc main_settings.html#]
[#endif VIEW_MODE#]

[#if VIEW_MODE="setting"#]
   [#inc api_setting.html#]
[#endif VIEW_MODE#]

