<ul id="tab" class="nav nav-tabs">
	<li><a data-toggle="tab" href="#panel_main"><#LANG_OCT_MAINSETT#></a></li>
	<li><a data-toggle="tab" href="#panel_voice"><#LANG_OCT_VOICENOTIFICATIONS#></a></li>
	<li><a data-toggle="tab" href="#panel_kodi"><#LANG_OCT_KODINOTIFICATIONS#></a></li>
</ul>
[#if ERR#]
<div class="alert alert-error"><#LANG_FILLOUT_REQURED#></div>
[#endif ERR#]
[#if OK#]
<div class="alert alert-success"><#LANG_DATA_SAVED#></div>
[#else OK#]
<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
<fieldset>
<div class="tab-content">
	<div id="panel_main" class="tab-pane fade in">
		[#inc oct_main_settings_admin.html#]
	</div>
	<div id="panel_voice" class="tab-pane fade in">
		[#inc oct_voice_settings_admin.html#]
	</div>
	<div id="panel_kodi" class="tab-pane fade in">
		[#inc oct_kodi_settings_admin.html#]
	</div>
</div>

<div class="form-actions">
	[#if ID!=""#]
	<button type="submit" name="subm" value="<#LANG_SUBMIT#>" class="btn btn-defaul btn-primary"><#LANG_SUBMIT#></button>
	[#else ID#]
	<button type="submit" name="subm" value="<#LANG_ADD#>" class="btn btn-defaul btn-primary"><#LANG_ADD#></button>
	[#endif ID#]
	<a href="?" class="btn btn-default"><#LANG_CANCEL#></a>
	<input type="hidden" name="id" value="<#ID#>">
	<input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
	<input type="hidden" name="edit_mode" value="<#EDIT_MODE#>">
	<input type="hidden" name="mode" value="update">
	<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
	<input type="hidden" name="tab" value="<#TAB#>">
	 
</div>
</fieldset>
</form>		

[#endif OK#]

<script type="text/javascript">
$('#tab a:first').tab('show');
</script>
