   
<div  id='main_settings'>
&nbsp;
<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
<fieldset>
<div class="form-group">
 <label class="control-label"[#if ERR_SAY_FINAL#] style="color:red;font-weight:bold"[#endif#]>
 <#LANG_OCT_SAY_FINAL#>:
 (*)
 </label>
 <div class="controls"><input type="text" name="say_final" value="[#SAY_FINAL#]" class="input"></div>
</div>
<div class="form-actions">
<button type="submit" name="subm" value="Submit" class="btn btn-primary"><#LANG_UPDATE#></button>
<input type="hidden" name="view_mode" value="update_settings">
<input type="hidden" name="mode" value="update">
</div>
</fieldset>
</form>
</div>