<br>
<!-- PRINTERON (varchar) -->
<div class="form-group">
	<label class="col-lg-3 control-label"[#if ERR_NTFY_PRINTERON#] style="color:red;font-weight:bold"[#endif#]>
	<#LANG_OCT_V_PRINTERON#>:
	</label>
	<div class="controls"><input type="checkbox" name="ntfy_printeron" value="1"[#if NTFY_PRINTERON="1"#] checked[#endif#]></div>
</div>

<!-- STARTPRINTING (varchar) -->
<div class="form-group">
	<label class="col-lg-3 control-label"[#if ERR_NTFY_STARTPRINT#] style="color:red;font-weight:bold"[#endif#]>
	<#LANG_OCT_V_STARTPRINT#>:
	</label>
	<div class="controls"><input type="checkbox" name="ntfy_startprint" value="1"[#if NTFY_STARTPRINT="1"#] checked[#endif#]></div>
</div>


<!-- PERCENTOFPRINT (varchar) -->
<div class="form-group">
	<label class="col-lg-3 control-label"[#if ERR_NTFY_PERCENT#] style="color:red;font-weight:bold"[#endif#]>
	<#LANG_OCT_V_PERCENTPRINT#>:
	</label>
	<div class="controls"><input type="checkbox" name="ntfy_percent" value="1"[#if NTFY_PERCENT="1"#] checked[#endif#]></div>
</div>

<label class="control-label"[#if ERR_NTFY_PERCENT_NUM#] style="color:red;font-weight:bold"[#endif#]><#LANG_OCT_VOICEPERCENT#>:</label>
<div class="controls">
	<select name="ntfy_percent_num" class="form-control input">
	 [#begin VNF_OPTIONS#]<option value="[#percent#]"[#if SELECTED#] selected[#endif#]>[#TITLE#] %
	 [#end VNF_OPTIONS#]
	</select>
</div>


<!-- FINISHPRINT (varchar) -->
<div class="form-group">
	<label class="col-lg-3 control-label"[#if ERR_NTFY_FINISHPRINT#] style="color:red;font-weight:bold"[#endif#]>
	<#LANG_OCT_V_FINISHPRINT#>:
	</label>
	<div class="controls"><input type="checkbox" name="ntfy_finishprint" value="1"[#if NTFY_FINISHPRINT="1"#] checked[#endif#]></div>
</div>

<!-- PRINTEROFF (varchar) -->
<div class="form-group">
	<label class="col-lg-3 control-label"[#if ERR_NTFY_PRINTEROFF#] style="color:red;font-weight:bold"[#endif#]>
	<#LANG_OCT_V_PRINTEROFF#>:
	</label>
	<div class="controls"><input type="checkbox" name="ntfy_printeroff" value="1"[#if NTFY_PRINTEROFF="1"#] checked[#endif#]></div>
</div>
