<div class="panel panel-info">
	<div class="panel-heading">
	<#LANG_OCT_PRINTER_STATUS#>
	</div>
	<div class="panel-body">
[#if FACT#]
   [#begin FACT#]
<div class="row">
   <div class="col-sm-8">
      <h3><#LANG_OW_WEATHER_NOW#></h3>
      <div id="daily_list">
         <table class="table-responsive">
            <tbody>
               <tr>
                  <td>[#date#]<img src="[#weatherIcon#]"></td>
                  <td>
                     <ul class="list-unstyled">
                        <li><span class="label label-warning">[#temperature#]°C </span> &nbsp;<i>[#weatherType#]</i></li>
                        <li><#LANG_WIND#>: [#windDirection#]&nbsp;[#windSpeed#] м/с </li>
                        <li><#LANG_OW_WEATHER_OVERCAST#>: [#clouds#]%</li>
                        <li><#LANG_PRESSURE#>: [#pressure_mmhg#] <#LANG_MMHG#></li>
                        <li><#LANG_HUMIDITY#>: [#humidity#]%</li>
                        <li><#LANG_OW_SUNINFO_DAY_SUNRISE_SUNSET#>: [#sunrise#]/[#sunset#]</li>
                        <li><#LANG_OW_SUNINFO_DAY_LENGTH#>: [#day_length#]</li>
                     </ul>
                  </td>
               </tr>

            </tbody>
         </table>
      </div>
   </div>
</div>
   [#end FACT#]
[#endif FACT#]
	</div>
</div>	